@using TechTileNimation.ViewModels
@model UploadViewModel
@{
    ViewData["Title"] = "Upload";
}

<!DOCTYPE html>
<html>
    <head>
        <title>Form</title>
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form enctype="multipart/form-data" asp-action="upload" method="post">
                    <div class="form-group">
                        <label>Name : </label>
                        <input asp-for="Name" type="text">
                    </div>
                    <div class="form-group">
                        <label>Sound </label>
                        <input asp-for="SensationSoundFile" type="file">
                    </div>
                    <div class="form-group">
                        <label>Picture </label>
                        <input type="file" asp-for="ImagePreviewFile">
                    </div>
                    <div class="form-group">
                        <label>Animation</label>
                        <input asp-for="AnimationFile" type="file">
                    </div>
                    <div class="form-group">
                        <center><input type="submit" value="Upload"></center>
                    </div>
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </body>
</html>

