body {
    margin: 0 0 0 0;
    background-color: #fdfcfb;
}

#head-img {
    position: relative;
}

#upload-button {
    display: block;
    position: absolute;
    right: 50px;
    top: 12px;
    font-size: 24px;
    color: white;
}

.entry-div {
    background-position: center center;
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
}

.entry-button {
    bottom: 100px;
    left: 480px;
    height: 100px;
    width: 200px;
    font-size: 36px;
    COLOR: WHITE;
    background: transparent;
    box-shadow: inset 0 0 10px #888888;
    border-bottom: 1px solid #FFF;
    border-radius: 50px;
}

.button {
    transition: all 0.5s;
}

    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

    .button:hover span {
        padding-right: 25px;
    }

        .button:hover span:after {
            opacity: 1;
            right: 0;
        }

#rain-img {
    position: relative;
}

#rain-img-button {
    position: absolute;
}

#train-img {
    position: relative;
}

#train-img-button {
    position: absolute;
}

#coin-img {
    position: relative;
}

#coin-img-button {
    position: absolute;
}

#helicopter-img {
    position: relative;
}

#helicopter-img-button {
    position: absolute;
}

#walk-img {
    position: relative;
}

#walk-img-button {
    position: absolute;
}

#bubble-img {
    position: relative;
}

#bubble-img-button {
    position: absolute;
}

.size-animation {
    width: 800px;
    height: 480px;
}

.size-preview-modal {
    width: 800px;
    height: 480px;
}
